/* _base.html */

$bz-dark: #222;

.bz-very-top {
    background: $bz-dark;

    a,span {
        color: #999;
        line-height: 1.8rem;
    }

    a {
        font-size: 0.8rem;
    }

    .inline-list {
        margin: 0;
    }
    border-bottom: 2px solid scale-color($primary-color, $lightness: 5%);
}

.top-bar {
    input {
        height: auto;
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
        font-size: 0.75rem;
    }
    .button {
        padding-top: 0.45rem;
        padding-bottom: 0.35rem;
        margin-bottom: 0;
        font-size: 0.75rem;
    }
    box-shadow: 0 0 20px rgba(#fff, .3);
}

.bz-content {
    background: #fff;
    padding-top: 15px;
    box-shadow: 0 0 20px rgba(#fff, .5);
}

.bz-footer {
    background-color: $bz-dark;
    padding-top: 10px;
    a {
        font-size: 0.8rem;
        color: #666;
    }
    li {
        font-size: 0.8rem;
        color: #444;
    }
    border-top: 4px solid $topbar-bg-color;
    box-shadow: 0 4px 20px rgba(#000, .9);
}

.bz-footer-logo {
    display: block;
    background: url(img/logo.png) center 0 no-repeat;
    width: 120px;
    height: 180px;
}

.bz-side-nav {
    @include side-nav();

    li {
        margin: 0;
        a:not(.button) {
            padding: rem-calc(5 10);
            color: #333;
            &:hover,
            &:focus { background-color: #eee; color: #333; }
       }

       &.active > a:first-child:not(.button) {
        font-weight: bold;
        color: $primary-color;
    }
}
}