/* body */
body {
    background-image: url(img/body_bg.jpg);
    background-repeat: no-repeat;
    background-position: center 1.8rem;
}

/* bz-very-top */
.bz-very-top {
    background: $very-top-bg;

    a,span {
        color: #999;
        line-height: 1.8rem;
    }

    a {
        font-size: 0.8rem;
    }

    .inline-list {
        margin: 0;
    }
}



/* site */

.top-bar {
    input {
        height: auto;
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
        font-size: 0.75rem;
    }
    .button {
        padding-top: 0.45rem;
        padding-bottom: 0.35rem;
        margin-bottom: 0;
        font-size: 0.75rem;
    }
}

.bz-white {
    background-color: #fff;
}

.bz-footer {
    background-color: #666;
    padding-top: 10px;
    p {
        font-size: 0.8rem;
        color: #fff;
    }    
}

