<form>
    <div class="row">
        <div class="small-8">
            {% include 'forms/header.html' with {'header': 'Регистрация'} %}
            {% include 'forms/input.html' with {'id': 'email', 'label': 'Email'} %}
            {% include 'forms/input.html' with {'id': 'login', 'label': 'Логин'} %}
            {% include 'forms/input.html' with {'id': 'password', 'label': 'Пароль', 'type': 'password'} %}
            {% include 'forms/submit.html' with {'label': 'Зарегистрироваться'} %}
        </div>
    </div>
</form>
