<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="ru" > <![endif]-->
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Брестские Зубры</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/site.css" />
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>

    <div class="bz-very-top">
        <div class="row collapse">
            <div class="large-2 columns">
                <a href="/">English</a>
            </div>
            <div class="large-6 columns text-center">
                <span>Официальный сайт МООБСК «Брестские зубры»</span>
            </div>
            <div class="large-4 columns">
                <ul class="inline-list right">
                    <li><a href="#" data-reveal-id="loginModal" data-reveal>Войти</a></li>
                    <li><a href="#" data-reveal-id="registerModal" data-reveal>Зарегистрироваться</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row bz-logo">
        <a href="/"></a>
    </div>

    <div class="row collapse">
        <div class="small-12 columns">
            <nav class="top-bar" data-topbar>
                <section class="top-bar-section">
                    <ul class="left">
                        {% for x in load('menu') %}
                        <li{% if x.sub %} class="has-dropdown"{% endif %}>
                            <a href="{{ x.url }}"{% if script == x.url %} class="active"{% endif %} >{{ x.title|upper }}</a>
                            {% if x.sub %}
                            <ul class="dropdown">
                                {% for zid, z in load(x.sub) if not z.hidden %}
                                    <li><a href="{{ x.url }}?id={{ zid }}">{{ z.title|upper }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="top-bar-section">
                    <ul class="right">
                        <li class="has-form">
                            <div class="row collapse">
                                <div class="small-8 columns">
                                    <input type="text">
                                </div>
                                <div class="small-4 columns">
                                    <input type="button" class="button expand" value="Найти" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>

    <div class="row bz-content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="row bz-footer">
        <div class="small-2 columns">
            <a href="/" class="bz-footer-logo"></a>
        </div>
        <div class="small-8 columns end">
            <div class="row">
                <div class="small-12 columns">
                    <ul class="inline-list">
                        {% for x in load('menu') %}
                        <li><a href="{{ x.url }}">{{ x.title|title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <ul class="no-bullet">
                        <li>Республика Беларусь</li>
                        <li>г.Брест ул. Советских пограничников 31</li>
                        <li>brest-zubrs@tut.by</li>
                    </ul>
                </div>
                <div class="small-6 columns">
                    <ul class="no-bullet">
                        <li>тел.: +375 336 701143</li>
                        <li>факс: +375 162 506006</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="loginModal" class="reveal-modal tiny" data-reveal>
        {% include 'forms/login.html' %}
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="registerModal" class="reveal-modal tiny" data-reveal>
        {% include 'forms/register.html' %}
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.reveal.js"></script>
    <script src="js/foundation/foundation.orbit.js"></script>
    <script src="js/foundation/foundation.clearing.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>
    <script>
    $(document).foundation();
    </script>
    {% if not localhost %}
    <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23950747 = new Ya.Metrika({id:23950747, ut:"noindex"}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/23950747?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    {% endif %}
</body>
</html>
