{% extends '_base.html' %}

{% block content %}

{% set competitions = load('competitions') %}
{% set competition = competitions[current] %}
{% set teams = load('teams') %}
{% set places = load('places') %}
{% set games = load('games') %}

<div class="small-2 columns">
    <ul class="bz-side-nav">
        {% for id, c in competitions %}
        <li{% if current == id %} class="active"{% endif %}>
        <a href="/competitions.php?id={{ id }}">{{ c.title|upper }}</a>
    </li>
    {% endfor %}
</ul>
</div>

<div class="small-10 columns">
    <h1>{{ competition.title }}</h1>

    <h2 class="subheader">Итоговая таблица</h2>
    <table>
        <tbody>
            {% for x in competition.table %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>{{ teams[x.team].title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="subheader">Результаты</h2>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Место</th>
                <th>Хозяева</th>
                <th>Гости</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {% for x in games if x.competition_id == current %}
            <tr>
                <td>{{ x.date|date('j.m.Y') }}</td>
                <td>{{ x.date|date('H:i') }}</td>
                <td>{{ places[x.place].title }}</td>
                <td>{{ teams[x.team_home].title }}</td>
                <td>{{ teams[x.team_away].title }}</td>
                <td>{{ x.score_home ~ ':' ~ x.score_away }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}