{% extends '_base.html' %}

{% block content %}

{% set context = load('competitions') %}
{% set competitions = context.competitions %}
{% set competition = context.competitions[current] %}
{% set teams = context.teams %}
{% set places = context.places %}

<div class="small-2 columns">
    <ul class="bz-side-nav">
        {% for id, c in competitions %}
        <li{% if current == id %} class="active"{% endif %}>
        <a href="/competitions.php?id={{ id }}">{{ c.title|upper }}</a>
    </li>
    {% endfor %}
</ul>
</div>

<div class="small-10 columns">
    <h1>{{ competition.title }}</h1>

    <h2 class="subheader">Итоговая таблица</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Команда</th>
                <th>Очки</th>
            </tr>
        </thead>
        <tbody>
            {% for x in competition.table %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td>{{ teams[x.team] }}</td>
                <td>{{ x.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="subheader">Результаты игр</h2>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Место</th>
                <th>Хозяева</th>
                <th>Гости</th>
                <th>Результат</th>
            </tr>
        </thead>
        <tbody>
            {% for x in competition.games %}
            <tr>
                <td>{{ x.date|date('F j') }}</td>
                <td>{{ x.date|date('H:i') }}</td>
                <td>{{ places[x.place] }}</td>
                <td>{{ teams[x.team_home] }}</td>
                <td>{{ teams[x.team_away] }}</td>
                <td>{{ x.score_home ~ ':' ~ x.score_away }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}