{% extends '_base.html' %}

{% block content %}

<div class="small-5 columns">
    <ul class="example-orbit" data-orbit data-options="slide_number:false">
        {% for x in load('orbit') %}
        <li>
            <img src="{{ x.img }}" />
            <div class="orbit-caption">{{ x.caption }}</div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="small-3 columns">
    <h5><a href="news.php">Новости</a></h5>
    <ul class="side-nav">
        {% for id, x in load('news') %}
        <li>
            <a href="news.php?id={{ id }}">{{ x.title }}</a>
        </li>
        {% if not loop.last %}
        <li class="divider"></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="small-4 columns">
    <h5><a href="news.php">Видео</a></h5>
    <div class="flex-video">
        <iframe width="640" height="360" src="{{ load('video')|first.src }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

{% endblock %}