<!doctype html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>МООБСК Брестские Зубры</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.min.css" />

    <style>
        .bz-very-top {
            background-color: #eee;
        }
            .bz-very-top ul.inline-list {
                margin-bottom: 0;
            }
            .bz-very-top p {
                margin-bottom: 0;
            }
    </style>
</head>
<body>

    <div class="bz-very-top">
        <div class="row">
            <div class="large-2 columns">
                <ul class="inline-list">
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="large-7 columns">
                <p class="text-center">Официальный сайт МООБСК «Брестские зубры»</p>
            </div>
            <div class="large-3 columns">
                <ul class="inline-list right">
                    <li><a href="#">Войти</a></li>
                    <li><a href="#">Зарегистрироваться</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <img src="img/logo.gif" />
        </div>
    </div>

</body>
</html>
