<!doctype html>
<html class="no-js" lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>МООБСК Брестские Зубры</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.css" />
</head>
<body>

    <div>
        <div class="row">
            <div class="large-2 columns">
                <ul class="inline-list">
                    <li><a href="/">English</a></li>
                </ul>
            </div>
            <div class="large-6 columns">
                <h6>Официальный сайт МООБСК «Брестские зубры»</h6>
            </div>
            <div class="large-4 columns">
                <ul class="inline-list right">
                    <li><a href="#">Войти</a></li>
                    <li><a href="#">Зарегистрироваться</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <img src="img/logo.gif" />
            <img class="right" src="img/field.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <nav class="top-bar">
                <section class="top-bar-section">
                    <ul class="left">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Команды</a></li>
                        <li><a href="#">Гостевая</a></li>
                        <li><a href="#">Руководство</a></li>
                        <li><a href="#">История</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>
</body>
</html>
