{% extends '_base.html' %}

{% block content %}

<div class="small-12 columns">
    <h1>Новости</h1>
    {% for id, x in load('news') %}

        <h5><a href="/news.php?id={{ id }}">{{ x.title }}</a></h5>
        <div class="row">
        {% if x.img %}
            <div class="small-2 columns">
                <a class="th" href="/news.php?id={{ id }}"><img src="{{ x.img }}"></a>
            </div>
            <div class="small-10 columns">
                <p>{{ x.body|markdown|striptags|slice(0,360) }}...</p>
            </div>
        {% else %}
            <div class="small-12 columns">
                <p>{{ x.body|markdown|striptags|slice(0,230) }}...</p>
            </div>
        {% endif %}
        </div>
        {% if not loop.last %}<hr />{% endif %}

    {% endfor %}
</div>

{% endblock %}